.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

/*Semantic definitions*/
body {
    background-color: rgb(44, 43, 49);
    background-size: 100% 100%;
    color: snow;
    min-height: 100vh;
}

span {
    font-style: italic;
}

nav {
    color: white;
    z-index: 10;
}

div {
    padding: 5px;
}

img {
    margin: 10px;
}

/*Class definitions*/
.bg-light {
    background-color: rgb(28, 47, 224) !important;
}

.sr-only {
    position: relative;
}

.col-list {
    border: 3px solid black;
}

.heading {
    background-color: rgb(12, 42, 66);
    background-blend-mode: luminosity;
}

.img-thumbnail {
    height: 170px;
}

.navbar .navbar-nav {
    /* display: inline-block; */
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.card {
    color: black;
    background-color: lightgray;
}

#name {
    /* position: absolute; */
    /* left: 25%; */
    /* transform: translatex(-25%); */
    margin-right: 2px;
    letter-spacing: 4px;
}
